:root{
    ---cores:#024059;
    ---cores:#026873;
    ---cores:#04BF8A;
    ---cores:#025940;
    ---cores:#03A64A;
}


:root{
    ---cores:#531a9a;
    ---cores:#6d32b3;
    ---cores:#8649cd;
    ---cores:#a061e6;
    ---cores:#b978ff;
}


:root{
    ---cores:#47386b;
    ---cores:#392a5b;
    ---cores:#2a1c4c;
    ---cores:#1c0e3c;
    ---cores:#0d002c;
}


:root{
    ---cores:#b6182d;
    ---cores:#a21222;
    ---cores:#8e0c17;
    ---cores:#79060b;
    ---cores:#650000;
}



:root{
    ---cores:#000706;
    ---cores:#00272d;
    ---cores:#134647;
    ---cores:#0c7e7e;
    ---cores:#bfac8b;
}


:root{
    ---cores:#3f3f3f;
    ---cores:#2f2f2f;
    ---cores:#202020;
    ---cores:#101010;
    ---cores:#000000;
}



:root{
    ---cores:#b9b9b9;
    ---cores:#cacaca;
    ---cores:#dcdcdc;
    ---cores:#ededed;
    ---cores:#ffffff;
}


